*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
}

#navbar{
    width: 100%;
    padding: 10px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: cyan;
}

#navleft img{
    height: 50px;
    margin-left: 20px;
    
}

#navleft{
    display: flex;
    align-items: center;
    justify-content:center ;

}
#navleft a{
    margin-left: 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 20px;
}

#navright i{
    font-size: 20px;
    /* margin-left: 20px; */
    margin-right: 30px;
    
}
#mainbelow{
    width: 100%;
    height: 60px;
    background-color:#001838 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainbelow img{
    height: 38px;
}
#content{
    width: 100%;
    height: 81.7%;
    
    position: relative;
    display: flex;
}
#left{
    height: 100%;
    width: 36%;
    
    padding: 50px;
}

#right{
    width: 64%;
    height: 100%;
    
    position: relative;
    padding: 95px 40px;
    white-space: nowrap;
    overflow-x: auto;
    
}

/* Track styles (the background of the scrollbar) */
#right::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
    background-color: #ffffff;
    height: 10px; /* Background color of the track */
  }
  
  /* Thumb styles (the draggable part of the scrollbar) */
  #right::-webkit-scrollbar-thumb {
    background-color: cyan; /* Color of the thumb */
    border-radius: 15px;
     /* Rounded corners for the thumb */
  }
  /* Button (arrows) styles (only supported in some browsers) */
  #right::-webkit-scrollbar-button {
    display: none; /* Hide scrollbar buttons */
  }
  

#left h4{
    margin-top: 30px;
    margin-bottom: 20px;
}

#left h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size:80px;
    line-height: 90px;
    margin-bottom: 15px;
    background: linear-gradient(to right, #001838,cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#left button{
    margin-top: 40px;
    padding: 10px;
    background-color: cyan;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    border-top-left-radius: 0px;
}
.element{
    position: relative;
    height:350px ;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    overflow-x: auto;

}
.element img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    
}